.day {font-size: 30px;
    color: black;
    font-family:Gotham, sans-serif;
    font-weight: 2000;
    line-height: 40px
    ;}

.month {font-size: 15px;
    color: black;
    font-family:Gotham, sans-serif;
    font-weight: 1500;
    line-height: 5px
    ;}

.year {font-size: 15px;
    color: black;
    font-family: Gotham, sans-serif;
    font-weight: 1500
        ;}
